.home-page-sentence {
    font-size: 90px;
    width: 900px;
    margin: 0;
    text-align: center;
}

.apsus {
    font-size: 50px;
    border-bottom: white 3px solid;
}

.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page-routes {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.home-page-routes img {
    width: 200px;
    height: 200px
}

@media (max-width:650px) {
    .home-page-routes {
        flex-direction: column;
    }
    .home-page-sentence {
        font-size: 50px;
        width: 750px;
        margin: 20;
        height: 100%;
    }
    .home-page {
        height: 100vh;
    }
}