.home-page-sentence {
    font-size: 90px;
    width: 900px;
    margin: 0;
    text-align: center;
    height: 100%;
}

.apsus {
    font-size: 50px;
    border-bottom: white 3px solid;
}

.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page-routes {
    width: 70%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.home-page-routes img {
    width: 200px;
    height: 200px
}