@import './missBooks/books-main.css';
@import './missEmail/email-main.css';
@import './missKeep/keep-main.css';
html,
body {
    background-image: url('../../../img/bgc6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    overflow: hidden;
    overflow-x: hidden;
}