@import './missBooks/books-main.css';
@import './missEmail/email-main.css';
@import './missKeep/keep-main.css';
@import './home-page.css';
html, body {
    background-image: url('../img/bgc6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

button {
    border-radius: 15px;
    border: 2px solid white;
    color: white;
    margin: 7px;
    min-width: fit-content;
}

* {
    box-sizing: border-box;
}

input {
    outline: none;
}