
.book-preview{
height: 300px;
width: 150px;
border: white 1px solid;
text-transform: capitalize;

}



.book-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,150px);
    gap: 15px;
    height: 600px;
    padding: 15px;
}