body {
    background-color: white;
    color: white;
}

.app-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 130px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-header div {
    display: flex;
    width: 50%;
    border: 1px white solid;
    justify-content: space-evenly;
}

footer {
    background-color: whitesmoke;
    font-size: 30px;
    text-align: center;
}

.flex {
    display: flex;
}

a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

@media (max-width: 980px) {
    .app-header {
        width: 92vh;
        justify-content: flex-start;
        font-size: unset;
        height: 60px;
    }
}