body {
    background-color: white;
}

.app-header {
    text-align: center;
    font-size: 20px;
    background-color: white;
}

footer {
    background-color: white;
    font-size: 30px;
    text-align: center;
}

.flex {
    display: flex;
}

a {
    color: black;
    text-decoration: none;
    text-transform: capitalize;
}