.new-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.button-div {
    display: flex;
    justify-content: center;
}

.new-form button {
    width: 20%;
    border: 2px white solid;
    color: white;
    margin: 7px;
    border-radius: 40px;
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
    outline: none;
}

.new-form button:hover {
    background-color: white;
    color: rgb(64, 147, 224);
}

.new-form input,
textarea,
button {
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    background-color: transparent;
}

.new-form input,
textarea,
::placeholder {
    color: white;
}

.new-form textarea {
    border: 2px white solid;
}

.form-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 980px) {
    .new-form {
        width: 90%;
        margin: 25px;
    }
    .new-form button {
        width: 40%;
        height: 20%;
    }
}