.note-card{
    /* height: 200px;
    width: 220px; */
    margin:15px;
}


.note-list{
    /* display: grid;
    grid-template-columns: repeat(auto-fill,220px);
    gap:10px; */
    display: flex;
    flex-wrap: wrap ;
}



