.btns-filter {
  display: flex;
  justify-content: center;
  padding: 15px;
  height: 100px;
}

.btns-filter-container {
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
}

.filter {
  width: 100px;
  height: 100%;
  padding: 15px;
  border-right: white 1px solid;
  cursor: pointer;
  text-align: center;
}

.filter:hover {
  background-color: rgba(245, 245, 245, 0.479);
}

.title-filter {
  text-align: center;
  margin: 0em;
  padding: 15px;
}

.note-filter .search {
  font-size: 22px;
}

@media (max-width:500px) {
  .btns-filter {
    height: 80px;
  }
  .btns-filter-container {
    width: 350px;
  }
  .filter {
    border-bottom: white 1px solid;
  }
}

@media (max-width:360px) {
  .btns-filter {
    margin-bottom: 10px;
  }
}