.note-card{
    background-color: antiquewhite;
    height: 250px;
    width: 250px;
    border: greenyellow 1px solid;
}


.note-storage{
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    gap:15px
}



