.note-app {
    min-height: 500px;
}

.note-app-container {
    max-width: 980px;
    margin: 0 auto;
    padding: 30px;
}

/* 450 */

@media (max-width:450px) {
    .btns-new-note {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}