.todos-container {
    display: flex;
    margin: 0;
    list-style-type: none;
    padding: 25px;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    border-radius: 18px;
    border: white 1px solid;
    width: 250px;
   
}

.done {
    text-decoration: line-through;
}

.todo-creator {
    display: flex;
    justify-content: center;
}

.li-in-todo-creator {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.pinned img {
    height: 35px;
    width: 35px;
}

.input-new button {
    height: 30px;
    width: 39px;
}

.todos-container li {
    cursor: pointer;
    padding-bottom: 15px;
}

.todos-container div {}

.input-new ul li {
    margin-bottom: 20px;
}