.mails-list {
    width: 100%;
    height: 500px;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    overflow: auto;
}

.mail-search {
    width: 50%;
    outline: none;
}

.list-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mails {
    cursor: pointer;
    color: rgb(64, 147, 224);
    border-radius: 30px;
    border: rgb(236, 236, 236) 1px solid;
    padding: 20px;
    margin: 20px;
    background-color: white;
    opacity: 50%;
}

.mails:hover {
    background-color: white;
    opacity: 100%;
}