.mails-list {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

.mails {
    cursor: pointer;
    color: rgb(64, 147, 224);
    border-radius: 30px;
    border: rgb(236, 236, 236) 1px solid;
    padding: 20px;
    margin: 20px;
    background-color: rgb(216, 216, 216);
}

.mails:hover {
    background-color: rgb(212, 208, 208);
}