.mails-list {
    width: 100%;
    height: 800px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    overflow: auto;
}

.mail-search {
    width: 50%;
    margin-top: 30px;
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: solid white 2px;
}

.list-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.mails {
    cursor: pointer;
    color: rgb(64, 147, 224);
    border-radius: 30px;
    border: rgb(236, 236, 236) 1px solid;
    margin: 10px;
    background-color: white;
    opacity: 50%;
}

input,
select,
textarea {
    color: white;
}

.mails:hover {
    transition: ease-in 0.3s;
    background-color: white;
    opacity: 100%;
}

@media (max-width: 980px) {
    .mails-list {
        font-size: 15px;
    }
    .mail-search {
        display: none;
    }
}