.main {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
}

.middle {
    display: flex;
    justify-content: space-between;
}

.view-scroll {
    overflow: auto;
}

@media (max-width: 980px) {
    .middle {
        flex-direction: column;
    }
}