.reading {
    width: 50%;
    height: 80%;
    margin: 20px;
    padding: 20px;
    display: flex;
    background-color: rgba(73, 73, 73, 0.349);
    flex-direction: column;
    border: white 2px solid;
}

.reading .star {
    font-size: 35px;
}

.trash-can {
    font-size: 25px;
}

.sub {}

.from-mail {}

.sent-at {}

.from-name {}

.mail-body {}