.reading {
    width: 80%;
    height: 80%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.reading .star {
    font-size: 35px;
}

.trash-can {
    font-size: 25px;
}

.sub {
    width: 40%;
}

.from-mail {
    width: 40%;
}

.sent-at {
    width: 40%;
}

.from-name {
    width: 40%;
}

.mail-body {
    width: 70%;
}