.side-bar {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* background-color: whitesmoke; */
    width: 200px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    height: 60vh;
}

.new-mail {
    outline: none;
    border: white 1px solid;
    color: white;
    border-radius: 50px;
    line-height: 30px;
    width: 50%;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
}

.new-mail:hover {
    background-color: white;
    color: rgb(64, 147, 224);
}

progress {
    margin-left: 20px;
    width: 90%;
}

@media (max-width: 980px) {
    .side-bar {
        margin-top: 0;
        width: auto;
        flex-direction: row;
        height: 0;
    }
    progress {
        display: none;
    }
    .new-mail {
        font-size: 15px;
    }
    .view-scroll {
        padding: 0px;
    }
}