.side-bar {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* background-color: whitesmoke; */
    width: 20%;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    height: 60vh;
}

.new-mail {
    outline: none;
    border: white 1px solid;
    color: white;
    border-radius: 50px;
    line-height: 30px;
    width: 50%;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
}