.side-bar {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 20%;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    height: 100vh;
}

.side-bar button {
    outline: none;
    border: rgb(64, 147, 224) 1px solid;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 50%;
    height: 60px;
    cursor: pointer;
    font-size: 20px;
}